Repository ynonaolga/pytorch, changes with the labels that .github/labeler.yml gives for each.
All labels: module: dynamo, module: inductor, ciflow/inductor

.github/labeler.yml:

"module: dynamo":
- torch/_dynamo/**
- torch/csrc/dynamo/**
- benchmarks/dynamo/**
- test/dynamo/**

"module: inductor":
- torch/_inductor/**
- test/inductor/**

"ciflow/inductor":
- torch/_dynamo/**
- torch/_inductor/**
- benchmarks/dynamo/**
- torch/_subclasses/fake_tensor.py
- torch/_subclasses/fake_utils.py
- torch/_subclasses/meta_utils.py

[ONNX] Add stack info to diagnostics
  test/onnx/internal/test_diagnostics.py
  torch/onnx/_internal/diagnostics/_diagnostic.py
  torch/onnx/_internal/diagnostics/infra/__init__.py
  torch/onnx/_internal/diagnostics/infra/_infra.py
  torch/onnx/_internal/diagnostics/infra/utils.py
Labels: none

[inductor] Handle the case where kwargs contains tensor
  test/inductor/test_torchinductor.py
  torch/_inductor/ir.py
  torch/_inductor/lowering.py
Labels: module: inductor, ciflow/inductor

Many fixes for decompositions to make the next PR green
  aten/src/ATen/native/cpu/IndexKernel.cpp
  aten/src/ATen/native/cuda/IndexKernel.cu
  test/test_decomp.py
  torch/_decomp/decompositions.py
  torch/_refs/__init__.py
  torch/testing/_internal/common_methods_invocations.py
Labels: none

Add a test for decompositions that decomposes all the operations as much as possible
  test/test_decomp.py
Labels: none

Implement correction argument in torch.masked.{std,var}
  torch/masked/_ops.py
  torch/testing/_internal/opinfo/definitions/_masked.py
  torch/testing/_internal/opinfo/utils.py
Labels: none

Give std/var correction overloads proper defaults
  aten/src/ATen/native/ReduceOps.cpp
  aten/src/ATen/native/native_functions.yaml
  tools/autograd/derivatives.yaml
  torch/_decomp/decompositions.py
  torch/_inductor/lowering.py
  torch/_tensor_docs.py
  torch/_torch_docs.py
  torch/testing/_internal/common_methods_invocations.py
Labels: module: inductor, ciflow/inductor

std/var: Require correction parameter always be given explicitly
  aten/src/ATen/native/ReduceOps.cpp
  test/onnx/test_operators.py
  test/onnx/test_pytorch_onnx_caffe2.py
  test/quantization/eager/test_quantize_eager_qat.py
  test/test_mps.py
  test/test_reductions.py
  torch/_tensor_docs.py
  torch/_torch_docs.py
  torch/masked/_ops.py
  torch/testing/_internal/common_methods_invocations.py
Labels: none

std/var: Deprecate default `correction` value and `unbiased` argument
  aten/src/ATen/native/ReduceOps.cpp
  benchmarks/fastrnns/custom_lstms.py
  test/distributions/test_distributions.py
  test/onnx/test_pytorch_onnx_onnxruntime.py
  test/test_autograd.py
  test/test_bundled_inputs.py
  test/test_mps.py
  test/test_namedtensor.py
  test/test_nn.py
  test/test_reductions.py
  test/test_tensor_creation_ops.py
  test/test_vmap.py
  torch/_decomp/decompositions.py
  torch/_decomp/decompositions_for_jvp.py
  torch/_torch_docs.py
  torch/masked/_ops.py
  torch/nn/modules/batchnorm.py
  torch/nn/modules/instancenorm.py
  torch/nn/modules/normalization.py
Labels: none

Make Python op registration work with torchdeploy/multipy
  aten/src/ATen/core/PythonOpRegistrationTrampoline.cpp
  aten/src/ATen/core/PythonOpRegistrationTrampoline.h
  aten/src/ATen/core/dispatch/Dispatcher.cpp
  aten/src/ATen/core/dispatch/Dispatcher.h
  aten/src/ATen/core/library.cpp
  c10/core/TensorImpl.h
  c10/core/impl/HermeticPyObjectTLS.cpp
  c10/core/impl/HermeticPyObjectTLS.h
  c10/core/impl/PyInterpreter.cpp
  c10/core/impl/PyInterpreter.h
  test/test_torch.py
  torch/_C/__init__.pyi.in
  torch/__init__.py
  torch/autograd/forward_ad.py
  torch/csrc/autograd/python_variable.cpp
  torch/csrc/autograd/python_variable.h
  torch/csrc/utils/python_dispatch.cpp
  torch/csrc/utils/python_dispatch.h
  torch/library.h
  torch/library.py
Labels: none

Add type annotation to JitScalarType.from_value API
  torch/onnx/_type_utils.py
Labels: none

[BE][EASY] Add missing arg `gradient_as_bucket_view` to DDP constructor in distributed.pyi (#88209)
  torch/nn/parallel/distributed.pyi
Labels: none

Enable tracing of Vulkan models with the model tracer
  buckbuild.bzl
Labels: none

Support multi-gpu CI for inductor-distributed
  .github/workflows/inductor.yml
  .jenkins/pytorch/test.sh
  test/distributed/test_dynamo_distributed.py
Labels: none

rename DisableTorchFunction to DisableTorchFunctionSubclass
  test/profiler/test_profiler_tree.py
  test/test_overrides.py
  test/test_public_bindings.py
  torch/__init__.py
  torch/_dynamo/variables/builder.py
  torch/_dynamo/variables/misc.py
  torch/_dynamo/variables/tensor.py
  torch/_subclasses/fake_tensor.py
  torch/_tensor.py
  torch/csrc/Module.cpp
  torch/csrc/autograd/init.cpp
  torch/csrc/utils/disable_torch_function.cpp
  torch/csrc/utils/disable_torch_function.h
  torch/distributed/_shard/partial_tensor.py
  torch/distributed/_shard/replicated_tensor.py
  torch/distributed/_shard/sharded_tensor/_ops/tensor_ops.py
  torch/masked/maskedtensor/core.py
Labels: module: dynamo, ciflow/inductor

Add context manager to allow mutation on saved tensors
  test/test_autograd.py
  torch/autograd/graph.py
Labels: none

Split out forward AD tests from test_ops_gradients
  .github/workflows/periodic.yml
  CODEOWNERS
  test/dynamo/test_recompile_ux.py
  test/functorch/functorch_additional_op_db.py
  test/inductor/test_smoke.py
  test/run_test.py
  test/test_hub.py
  test/test_ops.py
  test/test_ops_fwd_gradients.py
  test/test_ops_gradients.py
  torch/testing/_internal/common_methods_invocations.py
  torch/testing/_internal/common_utils.py
  torch/testing/_internal/opinfo/definitions/_masked.py
  torch/testing/_internal/opinfo/definitions/linalg.py
  torch/testing/_internal/opinfo/definitions/special.py
Labels: module: dynamo, module: inductor

Update autograd.grad to call hooks registered to leaf nodes
  test/test_autograd.py
  torch/csrc/autograd/cpp_hook.cpp
  torch/csrc/autograd/cpp_hook.h
  torch/csrc/autograd/engine.cpp
  torch/csrc/autograd/function.h
  torch/csrc/autograd/functions/accumulate_grad.cpp
  torch/csrc/autograd/functions/accumulate_grad.h
  torch/csrc/autograd/input_buffer.h
  torch/csrc/autograd/python_cpp_function.cpp
  torch/csrc/autograd/python_function.cpp
  torch/csrc/autograd/python_variable.cpp
  torch/csrc/autograd/variable.cpp
  torch/csrc/autograd/variable.h
  torch/csrc/distributed/autograd/context/context.cpp
  torch/csrc/distributed/autograd/engine/dist_engine.cpp
Labels: none

[pytree] add ability to have different pytree functions for grad-like transforms
  functorch/_src/eager_transforms.py
  functorch/_src/pytree_hacks.py
  test/functorch/test_eager_transforms.py
  torch/utils/_pytree.py
Labels: none

[functorch] modules as pytrees
  functorch/_src/eager_transforms.py
  functorch/_src/modules_as_pytree.py
  functorch/_src/pytree_hacks.py
  functorch/experimental/__init__.py
  test/functorch/test_eager_transforms.py
  torch/nn/modules/__init__.py
  torch/utils/_pytree.py
Labels: none

enable backward for log1p (sparse layouts)
  test/test_sparse.py
  test/test_sparse_csr.py
  torch/csrc/autograd/FunctionsManual.cpp
  torch/testing/_internal/common_methods_invocations.py
Labels: none

Enable sparse_csr autograd testing for relu
  test/test_sparse_csr.py
Labels: none

Support sparse inputs to deg2rad
  aten/src/ATen/native/native_functions.yaml
  aten/src/ATen/native/sparse/SparseCsrTensorMath.cpp
  aten/src/ATen/native/sparse/SparseUnaryOps.cpp
  torch/testing/_internal/common_methods_invocations.py
Labels: none

add DisableTorchFunction that matches DisableTorchDispatch
  aten/src/ATen/PythonTorchFunctionTLS.cpp
  aten/src/ATen/PythonTorchFunctionTLS.h
  torch/_C/__init__.pyi.in
  torch/__init__.py
  torch/csrc/Module.cpp
  torch/csrc/autograd/init.cpp
  torch/csrc/utils/disable_torch_function.cpp
Labels: none

Fix primTorch compute_elementwise_output_strides
  test/test_meta.py
  torch/_prims_common/__init__.py
Labels: none

[codegen] Changing TORCH_LIBRARY to TORCH_LIBRARY_FRAGMENT for custom namespace
  torchgen/gen.py
Labels: none

propagate .meta info when replacing subgraphs in fx
  test/expect/TestFXAPIBackwardCompatibility.test_function_back_compat-fx_backcompat_function_signatures.expect
  torch/fx/node.py
  torch/fx/passes/utils/fuser_utils.py
Labels: none

aot_dispatch test fix: always use functionalization in symbolic tests
  test/functorch/test_aotdispatch.py
Labels: none

fix as_strided_scatter_backward
  test/functorch/test_aotdispatch.py
  test/functorch/test_ops.py
  torch/csrc/autograd/FunctionsManual.cpp
  torch/testing/_internal/common_methods_invocations.py
Labels: none

misc symintifying fixes
  test/functorch/test_aotdispatch.py
  torch/_meta_registrations.py
  torch/csrc/autograd/utils/grad_layout_contract.h
Labels: none

*_scatter ops should preserve input stride/storage_offset
  aten/src/ATen/FunctionalTensorWrapper.cpp
  aten/src/ATen/native/TensorShape.cpp
  test/functorch/test_aotdispatch.py
  test/test_functionalization.py
  torchgen/gen_functionalization_type.py
Labels: none

dont clone symints, dont clobber symint proxies
  torch/fx/experimental/proxy_tensor.py
  torch/fx/experimental/symbolic_shapes.py
Labels: none

[FSDP()][23/N] Refactor handle attr initialization
  torch/distributed/fsdp/_utils.py
  torch/distributed/fsdp/flat_param.py
  torch/distributed/fsdp/fully_sharded_data_parallel.py
  torch/testing/_internal/common_fsdp.py
Labels: none

[FSDP] Simplify `_reset_lazy_init()`
  torch/distributed/fsdp/fully_sharded_data_parallel.py
Labels: none

[FSDP()][26/N] Move `_lazy_init()` into `_fsdp_root_pre_forward()`
  torch/distributed/fsdp/_runtime_utils.py
  torch/distributed/fsdp/fully_sharded_data_parallel.py
Labels: none

[FSDP()][24/N] Refactor `_lazy_init()`
  torch/distributed/fsdp/_init_utils.py
  torch/distributed/fsdp/_runtime_utils.py
  torch/distributed/fsdp/fully_sharded_data_parallel.py
Labels: none

[FSDP()][25/N] Add `_post_forward_reshard()`
  torch/distributed/fsdp/_runtime_utils.py
  torch/distributed/fsdp/fully_sharded_data_parallel.py
Labels: none

[FSDP] Remove unneeded `torch.no_grad()` context when offloading to CPU
  torch/distributed/fsdp/_init_utils.py
Labels: none

[FSDP()][27/N] Add forward hook registration
  test/distributed/fsdp/test_composable_fsdp.py
  torch/distributed/fsdp/_common_utils.py
  torch/distributed/fsdp/_exec_order_utils.py
  torch/distributed/fsdp/_fsdp.py
  torch/distributed/fsdp/_init_utils.py
  torch/distributed/fsdp/_runtime_utils.py
  torch/distributed/fsdp/flat_param.py
  torch/distributed/fsdp/fully_sharded_data_parallel.py
Labels: none

[FSDP][Docs] Add note mentioning rate limiter for backward prefetch
  torch/distributed/fsdp/api.py
Labels: none

[FSDP] Rename `unflat_param_name` -> `fqn` for consistency
  torch/distributed/fsdp/_common_utils.py
  torch/distributed/fsdp/_exec_order_utils.py
  torch/distributed/fsdp/_init_utils.py
  torch/distributed/fsdp/_optim_utils.py
  torch/distributed/fsdp/fully_sharded_data_parallel.py
Labels: none
