Repository ynonaolga/pytorch, changes with the labels that .github/labeler.yml gives for each.
All labels: module: dynamo, module: inductor, ciflow/inductor

.github/labeler.yml:

"module: dynamo":
- torch/_dynamo/**
- torch/csrc/dynamo/**
- benchmarks/dynamo/**
- test/dynamo/**

"module: inductor":
- torch/_inductor/**
- test/inductor/**

"ciflow/inductor":
- torch/_dynamo/**
- torch/_inductor/**
- benchmarks/dynamo/**
- torch/_subclasses/fake_tensor.py
- torch/_subclasses/fake_utils.py
- torch/_subclasses/meta_utils.py

[fx2ait] fixes for AITSplitter (#87805)
  torch/fx/passes/splitter_base.py
Labels: none

[Static Runtime] Fix tensor_split sections overload (#88113)
  benchmarks/static_runtime/test_static_runtime.cc
  benchmarks/static_runtime/test_utils.cc
  torch/csrc/jit/runtime/static/native_ops.cpp
Labels: none

fixed with suggested changes
  aten/src/ATen/native/mps/operations/TriangularOps.mm
Labels: none

fix names
  torch/testing/_internal/common_methods_invocations.py
Labels: none

WPI: changing as_strided_scatter to deterministic inputs
  torch/testing/_internal/common_methods_invocations.py
Labels: none

Create _make_alias to preserve the name of a function when creating an alias
  torch/_refs/__init__.py
Labels: none

Simplify maybe_resize_out
  torch/_prims_common/wrappers.py
Labels: none

Fix names of some reference functions
  torch/_prims_common/__init__.py
  torch/_refs/__init__.py
  torch/_refs/nn/functional/__init__.py
  torch/_refs/special/__init__.py
Labels: none

fix empty input issue of convolution for channels last memory format
  aten/src/ATen/native/Convolution.cpp
  test/test_nn.py
Labels: none

added xfails
  test/functorch/test_aotdispatch.py
  test/test_proxy_tensor.py
Labels: none

Upstream apply_optim_in_backward from TorchRec (#87397)
  test/distributed/optim/test_apply_optimizer_in_backward.py
  torch/distributed/optim/__init__.py
  torch/distributed/optim/apply_optimizer_in_backward.py
Labels: none

Add most in-place references/decompositions
  test/functorch/test_aotdispatch.py
  test/test_meta.py
  test/test_ops.py
  test/test_proxy_tensor.py
  torch/_decomp/decompositions.py
  torch/_refs/__init__.py
  torch/_refs/nn/functional/__init__.py
  torch/testing/_internal/common_methods_invocations.py
Labels: none

Dont clone inputs if using fake tensor
  torch/_dynamo/optimizations/analysis.py
Labels: module: dynamo, ciflow/inductor

Update all ONNX symbolics with new JitScalarType API
  torch/_C/__init__.pyi.in
  torch/onnx/_type_utils.py
  torch/onnx/symbolic_helper.py
  torch/onnx/symbolic_opset10.py
  torch/onnx/symbolic_opset11.py
  torch/onnx/symbolic_opset12.py
  torch/onnx/symbolic_opset13.py
  torch/onnx/symbolic_opset16.py
  torch/onnx/symbolic_opset8.py
  torch/onnx/symbolic_opset9.py
Labels: none

Address comments
  torch/onnx/_type_utils.py
  torch/onnx/symbolic_helper.py
  torch/onnx/symbolic_opset11.py
Labels: none

Fix type hint and docstrings
  torch/onnx/_type_utils.py
Labels: none

Simplify from_value API + refactor code for it
  torch/onnx/_type_utils.py
  torch/onnx/symbolic_helper.py
  torch/onnx/symbolic_opset11.py
  torch/onnx/symbolic_opset8.py
  torch/onnx/symbolic_opset9.py
Labels: none

Add from_value(..., default=UNDEFINED) argument
  torch/onnx/_type_utils.py
  torch/onnx/symbolic_helper.py
  torch/onnx/symbolic_opset11.py
  torch/onnx/symbolic_opset8.py
  torch/onnx/symbolic_opset9.py
Labels: none

Address comments
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/_type_utils.py
  torch/onnx/symbolic_helper.py
Labels: none

Address comments + refactoring
  torch/onnx/_type_utils.py
  torch/onnx/symbolic_helper.py
  torch/onnx/symbolic_opset11.py
  torch/onnx/symbolic_opset12.py
  torch/onnx/symbolic_opset13.py
  torch/onnx/symbolic_opset8.py
  torch/onnx/symbolic_opset9.py
Labels: none

Add bfloat16 support to torch.prod to align with torch.cumprod
  aten/src/ATen/native/cpu/ReduceOpsKernel.cpp
  torch/testing/_internal/common_methods_invocations.py
  torch/testing/_internal/opinfo/definitions/_masked.py
Labels: none

Fix decomp for embedding_backward and simplify the decomposition of embedding_dense and embedding_dense_backward
  test/test_decomp.py
  torch/_decomp/decompositions.py
Labels: none

Simplify linspace decomp and increase its tolerance
  test/test_decomp.py
  torch/_refs/__init__.py
  torch/testing/_internal/common_methods_invocations.py
Labels: none

fallback for scatter_(scalar)
  torch/_inductor/lowering.py
Labels: module: inductor, ciflow/inductor

Add API logging for interpolate()
  torch/nn/functional.py
Labels: none

[profiler] Add Linux Perf support
  build_variables.bzl
  torch/csrc/profiler/perf-inl.h
  torch/csrc/profiler/perf.cpp
  torch/csrc/profiler/perf.h
Labels: none

[profiler] Add Performance events support in Kineto profiler
  test/cpp/profiler/perf_events.cpp
  torch/csrc/autograd/profiler_kineto.cpp
  torch/csrc/autograd/profiler_kineto.h
  torch/csrc/profiler/collection.cpp
  torch/csrc/profiler/collection.h
  torch/csrc/profiler/orchestration/observer.cpp
  torch/csrc/profiler/orchestration/observer.h
Labels: none

[edge profiler] Add support for performance events counting
  torch/csrc/jit/mobile/profiler_edge.cpp
  torch/csrc/jit/mobile/profiler_edge.h
Labels: none

[edge profiler] Add e2e test for profiler event and chrometrace
  test/cpp/lite_interpreter_runtime/test_mobile_profiler.cpp
Labels: none

Nested profiling support for Linux-perf Profiler
  test/cpp/profiler/perf_events.cpp
  torch/csrc/profiler/perf-inl.h
  torch/csrc/profiler/perf.cpp
  torch/csrc/profiler/perf.h
Labels: none

[profiler] Expose experimental performance events to python
  torch/csrc/profiler/python/init.cpp
Labels: none

Add ONNX opset version 18 support for Torch ONNX export API
  torch/csrc/jit/serialization/export.cpp
  torch/onnx/_constants.py
  torch/onnx/symbolic_opset18.py
Labels: none

[ONNX] Add col2im-18 symbolic
  test/onnx/test_pytorch_onnx_no_runtime.py
  torch/onnx/symbolic_opset18.py
Labels: none

Address comments and linter pipeline
  test/onnx/test_pytorch_onnx_no_runtime.py
  torch/onnx/symbolic_opset18.py
Labels: none

Linter
  test/onnx/test_pytorch_onnx_no_runtime.py
  torch/onnx/symbolic_opset18.py
Labels: none

Address comments
  torch/onnx/__init__.py
  torch/onnx/symbolic_opset18.py
Labels: none

Fix attribute name and set default values
  test/onnx/test_pytorch_onnx_no_runtime.py
  torch/onnx/symbolic_opset18.py
Labels: none

update
  .github/actions/filter-test-configs/action.yml
  .github/scripts/filter_test_configs.py
  .github/workflows/_linux-test.yml
  .github/workflows/_mac-test.yml
  .github/workflows/_rocm-test.yml
  .github/workflows/_win-test.yml
  tools/testing/test_selections.py
  torch/testing/_internal/common_utils.py
Labels: none

update
  .github/actions/filter-test-configs/action.yml
Labels: none

[ONNX] Create common ExportTestCase base class
  test/onnx/expect/TestOperators.test_conv.expect
  test/onnx/expect/TestOperators.test_conv_onnx_irv4.expect
  test/onnx/expect/TestOperators.test_convtranspose.expect
  test/onnx/onnx_test_common.py
  test/onnx/pytorch_test_common.py
  test/onnx/test_autograd_funs.py
  test/onnx/test_custom_ops.py
  test/onnx/test_export_modes.py
  test/onnx/test_models.py
  test/onnx/test_models_onnxruntime.py
  test/onnx/test_onnx_opset.py
  test/onnx/test_operators.py
  test/onnx/test_pytorch_helper.py
  test/onnx/test_pytorch_jit_onnx.py
  test/onnx/test_pytorch_onnx_caffe2.py
  test/onnx/test_pytorch_onnx_caffe2_quantized.py
  test/onnx/test_pytorch_onnx_no_runtime.py
  test/onnx/test_pytorch_onnx_shape_inference.py
  test/onnx/test_utility_funs.py
Labels: none
