Repository ynonaolga/pytorch, changes with the labels that .github/labeler.yml gives for each.
All labels: module: dynamo, module: inductor, ciflow/inductor

[Profiler] Handle ABA for TensorImpl* when assigning IDs
  test/profiler/test_profiler.py
  torch/_C/_profiler.pyi
  torch/csrc/profiler/collection.h
  torch/csrc/profiler/data_flow.cpp
  torch/csrc/profiler/data_flow.h
  torch/csrc/profiler/python/init.cpp
  torch/csrc/profiler/python/init.h
Labels: none

[Profiler] Restructure inputs and capture TensorLists.
  test/profiler/test_profiler.py
  torch/_C/_profiler.pyi
  torch/csrc/autograd/profiler_kineto.cpp
  torch/csrc/autograd/profiler_kineto.h
  torch/csrc/autograd/profiler_python.cpp
  torch/csrc/profiler/collection.cpp
  torch/csrc/profiler/collection.h
  torch/csrc/profiler/data_flow.cpp
  torch/csrc/profiler/python/init.cpp
  torch/profiler/_pattern_matcher.py
Labels: none

[Profiler] Memory profiler part 1: Gradient identification
  mypy-strict.ini
  test/profiler/test_memory_profiler.py
  torch/_C/_profiler.pyi
  torch/csrc/profiler/python/init.cpp
  torch/profiler/_memory_profiler.py
Labels: none

[Profiler] Memory profiler part 2: Config validation
  test/profiler/test_memory_profiler.py
  torch/profiler/_memory_profiler.py
  torch/profiler/profiler.py
Labels: none

[Profiler] Memory profiler part 3: Schema parsing and mutable arguments
  test/profiler/test_memory_profiler.py
  torch/_C/_profiler.pyi
  torch/csrc/profiler/python/init.cpp
  torch/profiler/_memory_profiler.py
Labels: none

[Profiler] Memory profiler part 4: Select top level torch ops
  test/profiler/test_memory_profiler.py
  torch/profiler/_memory_profiler.py
Labels: none

[Profiler] Memory profiler part 5: Data flow graph
  test/profiler/test_memory_profiler.py
  torch/profiler/_memory_profiler.py
Labels: none

add an exclude for test_constructor for inductor
  test/test_torch.py
Labels: none

hypothesis
  .github/workflows/_mac-test-mps.yml
Labels: none

use more informative string
  .github/scripts/filter_test_configs.py
  .github/workflows/_linux-test.yml
  .github/workflows/_rocm-test.yml
  .github/workflows/_win-test.yml
Labels: none

Dynamo traces through nn modules
  torch/_dynamo/mutation_guard.py
  torch/_dynamo/output_graph.py
  torch/_dynamo/variables/builder.py
Labels: module: dynamo, ciflow/inductor

dont add the thing
  .github/scripts/filter_test_configs.py
Labels: none

adding view_copy_batch_rule and opinfo for view_copy
  aten/src/ATen/functorch/BatchRulesViews.cpp
  torch/testing/_internal/common_methods_invocations.py
Labels: none

lint
  torch/testing/_internal/common_methods_invocations.py
Labels: none

more fixes
  test/test_dynamic_shapes.py
  torch/fx/experimental/symbolic_shapes.py
Labels: none

Finish purging FloorDiv
  torch/fx/experimental/symbolic_shapes.py
Labels: none

les verbose
  test/run_test.py
  torch/testing/_internal/common_utils.py
Labels: none

Add sparse layout support for torch.frac
  aten/src/ATen/native/native_functions.yaml
  aten/src/ATen/native/sparse/SparseCsrTensorMath.cpp
  aten/src/ATen/native/sparse/SparseUnaryOps.cpp
  test/test_sparse_csr.py
  torch/testing/_internal/common_methods_invocations.py
Labels: none

[12/N] Update scatter with CPU/CUDA implementations
  test/distributed/test_c10d_common.py
  torch/csrc/distributed/c10d/OpsImpl.cpp
Labels: none

[13/N] Update gather with CPU/CUDA implementations
  test/distributed/test_c10d_common.py
  torch/csrc/distributed/c10d/OpsImpl.cpp
Labels: none

Remove ProcessGroupRoundRobin
  build_variables.bzl
  test/distributed/test_c10d_gloo.py
  torch/_C/_distributed_c10d.pyi
  torch/csrc/distributed/c10d/ProcessGroupRoundRobin.cpp
  torch/csrc/distributed/c10d/ProcessGroupRoundRobin.hpp
  torch/csrc/distributed/c10d/init.cpp
  torch/distributed/__init__.py
Labels: none

update vision commit hash
  .github/ci_commit_pins/vision.txt
Labels: none

Enable inductor CI for TorchBench
  .github/ci_commit_pins/audio.txt
  .github/ci_commit_pins/text.txt
  .github/ci_commit_pins/torchbench.txt
  .github/workflows/inductor.yml
  .jenkins/pytorch/common_utils.sh
  .jenkins/pytorch/test.sh
Labels: none

Fix meta for aten.upsample_bilinear2d.vec
  test/test_meta.py
  torch/_decomp/decompositions.py
Labels: none

[optim] remove .item calls in all optimizers
  torch/optim/adagrad.py
  torch/optim/adam.py
  torch/optim/adamax.py
  torch/optim/adamw.py
  torch/optim/asgd.py
  torch/optim/nadam.py
  torch/optim/radam.py
Labels: none

[dtensor] PART 1: move core DTensor abstraction to core distributed
  torch/distributed/_tensor/README.md
  torch/distributed/_tensor/api.py
  torch/distributed/_tensor/device_mesh.py
  torch/distributed/_tensor/dispatch.py
  torch/distributed/_tensor/placement_types.py
  torch/distributed/_tensor/redistribute.py
  torch/distributed/_tensor/utils.py
Labels: none

[dtensor] PART 2: move DTensor ops and high level APIs to core distributed
  torch/distributed/_tensor/__init__.py
  torch/distributed/_tensor/ops/__init__.py
  torch/distributed/_tensor/ops/common_rules.py
  torch/distributed/_tensor/ops/math_ops.py
  torch/distributed/_tensor/ops/matrix_ops.py
  torch/distributed/_tensor/ops/pointwise_ops.py
  torch/distributed/_tensor/ops/tensor_ops.py
  torch/distributed/_tensor/ops/tp_sharding_ops.py
  torch/distributed/_tensor/ops/utils.py
  torch/distributed/_tensor/ops/view_ops.py
Labels: none

[dtensor] PART 3: move most dtensor tests to core distributed
  test/distributed/_tensor/README.md
  test/distributed/_tensor/__init__.py
  test/distributed/_tensor/test_api.py
  test/distributed/_tensor/test_common_rules.py
  test/distributed/_tensor/test_device_mesh.py
  test/distributed/_tensor/test_dtensor.py
  test/distributed/_tensor/test_math_ops.py
  test/distributed/_tensor/test_matrix_ops.py
  test/distributed/_tensor/test_pointwise_ops.py
  test/distributed/_tensor/test_redistribute.py
  test/distributed/_tensor/test_tensor_ops.py
  test/distributed/_tensor/test_tp_sharding_ops.py
  test/distributed/_tensor/test_view_ops.py
  torch/testing/_internal/common_dtensor.py
Labels: none

[dtensor] PART 4: move dtensor op db tests to core distributed
  test/distributed/_tensor/test_dtensor_ops.py
Labels: none

[dtensor] PART 5: move tensor parallel api and tests to core distributed
  test/distributed/_tensor/parallel/__init__.py
  test/distributed/_tensor/parallel/test_2d_parallel.py
  test/distributed/_tensor/parallel/test_tp_examples.py
  test/distributed/_tensor/parallel/test_view_sharding_dim_change.py
  torch/distributed/_tensor/parallel/__init__.py
  torch/distributed/_tensor/parallel/_view_with_dim_change.py
  torch/distributed/_tensor/parallel/api.py
  torch/distributed/_tensor/parallel/fsdp.py
  torch/distributed/_tensor/parallel/multihead_attention_tp.py
Labels: none

@eqy suggestion for compilation issue
  aten/src/ATen/cuda/Atomic.cuh
Labels: none

Forgot the endif
  aten/src/ATen/cuda/Atomic.cuh
Labels: none

Messy code
  aten/src/ATen/cuda/Atomic.cuh
  c10/util/BFloat16.h
Labels: none

Messy code
  aten/src/ATen/cuda/Atomic.cuh
Labels: none

Optimize Inductor vectorization by aten vectorization rather than omp simd
  setup.py
  test/inductor/test_torchinductor.py
  torch/_inductor/codecache.py
  torch/_inductor/codegen/cpp.py
  torch/_inductor/codegen/cpp_prefix.h
  torch/_inductor/metrics.py
Labels: module: inductor, ciflow/inductor

Support reduction vectorization
  torch/_inductor/codegen/cpp.py
  torch/_inductor/codegen/cpp_prefix.h
Labels: module: inductor, ciflow/inductor

Support sign for HF models like ElectraForQuestionAnswering
  test/inductor/test_torchinductor.py
  torch/_inductor/codegen/cpp.py
Labels: module: inductor, ciflow/inductor

Messy code
  aten/src/ATen/cuda/Atomic.cuh
Labels: none

Just trying stuff
  aten/src/ATen/cuda/Atomic.cuh
  c10/util/BFloat16-inl.h
Labels: none

Just trying stuff
  aten/src/ATen/cuda/Atomic.cuh
Labels: none

.github/labeler.yml:

"module: dynamo":
- torch/_dynamo/**
- torch/csrc/dynamo/**
- benchmarks/dynamo/**
- test/dynamo/**

"module: inductor":
- torch/_inductor/**
- test/inductor/**

"ciflow/inductor":
- torch/_dynamo/**
- torch/_inductor/**
- benchmarks/dynamo/**
- torch/_subclasses/fake_tensor.py
- torch/_subclasses/fake_utils.py
- torch/_subclasses/meta_utils.py
