Repository ynonaolga/pytorch, changes with the owners that CODEOWNERS names for each.
All owners: @fmassa, @soumith, @ezyang, @albanD, @soulitzer, @jbschlosser, @anjali411, @z-a-f, @salilsdesai, @kimishpatel, @digantdesai, @jianyuh, @jerryzh168, @dzdang, @hdcharles, @jiayisuse, @osalpekar, @lw, @beauby, @mrshenli, @zhaojuanmao, @pritamdamania87, @rohan-varma, @H-Huang, @awgu, @kwen2501, @yhcharles, @bowenbao, @abock, @jeffdaily, @pytorch/pytorch-dev-infra, @mruberry, @lezcano, @IvanYashchuk, @nikitaved, @ngimel, @zou3519, @kulinseth, @robieta, @Chillee

CODEOWNERS:

# IMPORTANT:
# This file is ONLY used to subscribe for notifications for PRs
# related to a specific file path. Approvals from people in this
# file are not required for merges.

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# For module labels => owners mapping, please see https://github.com/pytorch/pytorch/issues/24422.

/torch/utils/cpp_extension.py @fmassa @soumith @ezyang

# Not there to strictly require the approval, but to be tagged as a reviewer
# on the PRs to push them into a high priority inbox.
/torch/csrc/autograd/ @albanD @soulitzer
/torch/autograd/ @albanD @soulitzer
/tools/autograd/ @albanD @soulitzer
/torch/nn/ @albanD @jbschlosser
/torch/optim/ @albanD
/test/test_public_bindings.py @albanD
/test/allowlist_for_publicAPI.json @albanD @anjali411
/docs/source/conf.py @albanD
/aten/src/ATen/native/tags.yaml @anjali411

# Architecture Optimization (quantization, sparsity, etc.)
/aten/src/ATen/native/ao_sparse @z-a-f @salilsdesai @kimishpatel @digantdesai @jianyuh
/aten/src/ATen/native/quantized @jerryzh168 @z-a-f @salilsdesai @kimishpatel @digantdesai @jianyuh
/aten/src/ATen/native/quantized/cpu @jerryzh168 @z-a-f @salilsdesai @kimishpatel @digantdesai @jianyuh
/aten/src/ATen/native/quantized/cuda @jerryzh168 @dzdang
/aten/src/ATen/native/quantized/cudnn @jerryzh168 @dzdang
/test/test_quantization.py @jerryzh168
/test/ao/ @jerryzh168 @z-a-f @hdcharles
/test/quantization/ @jerryzh168 @z-a-f
/torch/quantization/ @jerryzh168
ao/sparisty/ @z-a-f @hdcharles
ao/quantization/ @jerryzh168
nn/intrinsic/ @jerryzh168
nn/quantized/ @jerryzh168
nn/quantizable/ @jerryzh168 @z-a-f
nn/qat/ @jerryzh168

# Tensorpipe RPC Agent.
/torch/csrc/distributed/rpc/tensorpipe_agent.cpp @jiayisuse @osalpekar @lw @beauby
/torch/csrc/distributed/rpc/tensorpipe_agent.h @jiayisuse @osalpekar @lw @beauby

# Distributed package
# This list is mostly if you'd like to be tagged as reviewer, feel free to add
# or remove yourself from it.
/torch/csrc/distributed/ @mrshenli @zhaojuanmao @pritamdamania87 @rohan-varma @H-Huang @awgu @kwen2501
/torch/distributed/ @mrshenli @zhaojuanmao @pritamdamania87 @rohan-varma @H-Huang @awgu @kwen2501
/torch/distributed/_composable @mrshenli @zhaojuanmao @pritamdamania87 @rohan-varma @H-Huang @awgu @kwen2501 @yhcharles
/torch/nn/parallel/ @mrshenli @zhaojuanmao @pritamdamania87 @rohan-varma @H-Huang @awgu @kwen2501

# Distributed tests
# This list is mostly if you'd like to be tagged as reviewer, feel free to add
# or remove yourself from it.
/test/distributed @mrshenli @pritamdamania87 @zhaojuanmao @rohan-varma @H-Huang @awgu @kwen2501
/torch/testing/_internal/distributed @mrshenli @pritamdamania87 @zhaojuanmao @rohan-varma @H-Huang @awgu @kwen2501

# ONNX Export
/torch/csrc/jit/passes/onnx.h @bowenbao @abock
/torch/csrc/jit/passes/onnx.cpp @bowenbao @abock
/torch/csrc/jit/passes/onnx/ @bowenbao @abock
/torch/onnx/ @bowenbao @abock
/test/onnx/ @bowenbao @abock

# Docker
/.circleci/docker/ @jeffdaily

# Github Actions
# This list is for people wanting to be notified every time there's a change
# related to Github Actions
/.github/ @pytorch/pytorch-dev-infra

# Custom Test Infrastructure
/test/run_test.py @pytorch/pytorch-dev-infra
/torch/testing/_internal/common_device_type.py @mruberry
/torch/testing/_internal/common_utils.py @pytorch/pytorch-dev-infra

# Parametrizations
/torch/nn/utils/parametriz*.py @lezcano

# torch.linalg
# docs
/torch/linalg/ @lezcano @IvanYashchuk
# code
/aten/src/ATen/native/**/*LinearAlgebra* @lezcano @nikitaved @IvanYashchuk
# tests
/test/test_linalg.py @lezcano @nikitaved @IvanYashchuk

# OpInfo-related files
/torch/testing/_internal/common_methods_invocations.py @mruberry @ngimel
/torch/testing/_internal/common_device_type.py @mruberry @ngimel
test/test_ops.py @mruberry @ngimel
test/test_ops_gradients.py @mruberry @ngimel @soulitzer
test/test_ops_fwd_gradients.py @mruberry @ngimel @soulitzer
test/test_unary_ufuncs.py @mruberry @ngimel
test/test_binary_ufuncs.py @mruberry @ngimel
test/test_reductions.py @mruberry @ngimel
test/test_type_promotion.py @mruberry @ngimel

# functorch-related things
# This list is for people wanting to be notified every time there's a change
# Useful for e.g. auditing xfails that other folks add to tests
test/functorch/test_ops.py @zou3519
test/functorch/test_vmap.py @zou3519

# torch MPS
test/test_mps.py @kulinseth
aten/src/ATen/mps/ @kulinseth
aten/src/ATen/native/mps/ @kulinseth

# Profiler
torch/csrc/autograd/profiler* @robieta
torch/autograd/profiler* @robieta
torch/csrc/profiler/ @robieta
torch/profiler/ @robieta

# AOTDispatch tests
test/functorch/test_aotdispatch.py @ezyang @Chillee

Update autograd.grad to call hooks registered to leaf nodes
  test/test_autograd.py
  torch/csrc/autograd/cpp_hook.cpp
  torch/csrc/autograd/cpp_hook.h
  torch/csrc/autograd/engine.cpp
  torch/csrc/autograd/function.h
  torch/csrc/autograd/functions/accumulate_grad.cpp
  torch/csrc/autograd/functions/accumulate_grad.h
  torch/csrc/autograd/input_buffer.h
  torch/csrc/autograd/python_cpp_function.cpp
  torch/csrc/autograd/python_function.cpp
  torch/csrc/autograd/python_variable.cpp
  torch/csrc/autograd/variable.cpp
  torch/csrc/autograd/variable.h
  torch/csrc/distributed/autograd/context/context.cpp
  torch/csrc/distributed/autograd/engine/dist_engine.cpp
Owners: @albanD, @soulitzer, @mrshenli, @zhaojuanmao, @pritamdamania87, @rohan-varma, @H-Huang, @awgu, @kwen2501

[pytree] add ability to have different pytree functions for grad-like transforms
  functorch/_src/eager_transforms.py
  functorch/_src/pytree_hacks.py
  test/functorch/test_eager_transforms.py
  torch/utils/_pytree.py
Owners: none

[functorch] modules as pytrees
  functorch/_src/eager_transforms.py
  functorch/_src/modules_as_pytree.py
  functorch/_src/pytree_hacks.py
  functorch/experimental/__init__.py
  test/functorch/test_eager_transforms.py
  torch/nn/modules/__init__.py
  torch/utils/_pytree.py
Owners: @albanD, @jbschlosser

enable backward for log1p (sparse layouts)
  test/test_sparse.py
  test/test_sparse_csr.py
  torch/csrc/autograd/FunctionsManual.cpp
  torch/testing/_internal/common_methods_invocations.py
Owners: @albanD, @soulitzer, @mruberry, @ngimel

Enable sparse_csr autograd testing for relu
  test/test_sparse_csr.py
Owners: none

Support sparse inputs to deg2rad
  aten/src/ATen/native/native_functions.yaml
  aten/src/ATen/native/sparse/SparseCsrTensorMath.cpp
  aten/src/ATen/native/sparse/SparseUnaryOps.cpp
  torch/testing/_internal/common_methods_invocations.py
Owners: @mruberry, @ngimel

add DisableTorchFunction that matches DisableTorchDispatch
  aten/src/ATen/PythonTorchFunctionTLS.cpp
  aten/src/ATen/PythonTorchFunctionTLS.h
  torch/_C/__init__.pyi.in
  torch/__init__.py
  torch/csrc/Module.cpp
  torch/csrc/autograd/init.cpp
  torch/csrc/utils/disable_torch_function.cpp
Owners: @albanD, @soulitzer

Fix primTorch compute_elementwise_output_strides
  test/test_meta.py
  torch/_prims_common/__init__.py
Owners: none

[codegen] Changing TORCH_LIBRARY to TORCH_LIBRARY_FRAGMENT for custom namespace
  torchgen/gen.py
Owners: none

propagate .meta info when replacing subgraphs in fx
  test/expect/TestFXAPIBackwardCompatibility.test_function_back_compat-fx_backcompat_function_signatures.expect
  torch/fx/node.py
  torch/fx/passes/utils/fuser_utils.py
Owners: none

aot_dispatch test fix: always use functionalization in symbolic tests
  test/functorch/test_aotdispatch.py
Owners: @ezyang, @Chillee

fix as_strided_scatter_backward
  test/functorch/test_aotdispatch.py
  test/functorch/test_ops.py
  torch/csrc/autograd/FunctionsManual.cpp
  torch/testing/_internal/common_methods_invocations.py
Owners: @ezyang, @Chillee, @zou3519, @albanD, @soulitzer, @mruberry, @ngimel

misc symintifying fixes
  test/functorch/test_aotdispatch.py
  torch/_meta_registrations.py
  torch/csrc/autograd/utils/grad_layout_contract.h
Owners: @ezyang, @Chillee, @albanD, @soulitzer

*_scatter ops should preserve input stride/storage_offset
  aten/src/ATen/FunctionalTensorWrapper.cpp
  aten/src/ATen/native/TensorShape.cpp
  test/functorch/test_aotdispatch.py
  test/test_functionalization.py
  torchgen/gen_functionalization_type.py
Owners: @ezyang, @Chillee

dont clone symints, dont clobber symint proxies
  torch/fx/experimental/proxy_tensor.py
  torch/fx/experimental/symbolic_shapes.py
Owners: none

[FSDP()][23/N] Refactor handle attr initialization
  torch/distributed/fsdp/_utils.py
  torch/distributed/fsdp/flat_param.py
  torch/distributed/fsdp/fully_sharded_data_parallel.py
  torch/testing/_internal/common_fsdp.py
Owners: @mrshenli, @zhaojuanmao, @pritamdamania87, @rohan-varma, @H-Huang, @awgu, @kwen2501

[FSDP] Simplify `_reset_lazy_init()`
  torch/distributed/fsdp/fully_sharded_data_parallel.py
Owners: @mrshenli, @zhaojuanmao, @pritamdamania87, @rohan-varma, @H-Huang, @awgu, @kwen2501

[FSDP()][26/N] Move `_lazy_init()` into `_fsdp_root_pre_forward()`
  torch/distributed/fsdp/_runtime_utils.py
  torch/distributed/fsdp/fully_sharded_data_parallel.py
Owners: @mrshenli, @zhaojuanmao, @pritamdamania87, @rohan-varma, @H-Huang, @awgu, @kwen2501

[FSDP()][24/N] Refactor `_lazy_init()`
  torch/distributed/fsdp/_init_utils.py
  torch/distributed/fsdp/_runtime_utils.py
  torch/distributed/fsdp/fully_sharded_data_parallel.py
Owners: @mrshenli, @zhaojuanmao, @pritamdamania87, @rohan-varma, @H-Huang, @awgu, @kwen2501

[FSDP()][25/N] Add `_post_forward_reshard()`
  torch/distributed/fsdp/_runtime_utils.py
  torch/distributed/fsdp/fully_sharded_data_parallel.py
Owners: @mrshenli, @zhaojuanmao, @pritamdamania87, @rohan-varma, @H-Huang, @awgu, @kwen2501

[FSDP] Remove unneeded `torch.no_grad()` context when offloading to CPU
  torch/distributed/fsdp/_init_utils.py
Owners: @mrshenli, @zhaojuanmao, @pritamdamania87, @rohan-varma, @H-Huang, @awgu, @kwen2501

[FSDP()][27/N] Add forward hook registration
  test/distributed/fsdp/test_composable_fsdp.py
  torch/distributed/fsdp/_common_utils.py
  torch/distributed/fsdp/_exec_order_utils.py
  torch/distributed/fsdp/_fsdp.py
  torch/distributed/fsdp/_init_utils.py
  torch/distributed/fsdp/_runtime_utils.py
  torch/distributed/fsdp/flat_param.py
  torch/distributed/fsdp/fully_sharded_data_parallel.py
Owners: @mrshenli, @pritamdamania87, @zhaojuanmao, @rohan-varma, @H-Huang, @awgu, @kwen2501

[FSDP][Docs] Add note mentioning rate limiter for backward prefetch
  torch/distributed/fsdp/api.py
Owners: @mrshenli, @zhaojuanmao, @pritamdamania87, @rohan-varma, @H-Huang, @awgu, @kwen2501

[FSDP] Rename `unflat_param_name` -> `fqn` for consistency
  torch/distributed/fsdp/_common_utils.py
  torch/distributed/fsdp/_exec_order_utils.py
  torch/distributed/fsdp/_init_utils.py
  torch/distributed/fsdp/_optim_utils.py
  torch/distributed/fsdp/fully_sharded_data_parallel.py
Owners: @mrshenli, @zhaojuanmao, @pritamdamania87, @rohan-varma, @H-Huang, @awgu, @kwen2501

[FSDP] Simplify `_get_buffer_names()`
  torch/distributed/fsdp/_init_utils.py
Owners: @mrshenli, @zhaojuanmao, @pritamdamania87, @rohan-varma, @H-Huang, @awgu, @kwen2501

[FSDP][Easy] Remove unneeded `TrainingState` transition
  torch/distributed/fsdp/_runtime_utils.py
Owners: @mrshenli, @zhaojuanmao, @pritamdamania87, @rohan-varma, @H-Huang, @awgu, @kwen2501

[FSDP()] Rename to `fully_shard()` and move to `_composable/`
  test/distributed/_composable/test_fully_shard.py
  torch/distributed/_composable/fully_shard.py
Owners: @mrshenli, @pritamdamania87, @zhaojuanmao, @rohan-varma, @H-Huang, @awgu, @kwen2501, @yhcharles

[FSDP()][Easy] Rename `_State` to `_FSDPState`
  torch/distributed/fsdp/_common_utils.py
  torch/distributed/fsdp/_exec_order_utils.py
  torch/distributed/fsdp/_init_utils.py
  torch/distributed/fsdp/_runtime_utils.py
Owners: @mrshenli, @zhaojuanmao, @pritamdamania87, @rohan-varma, @H-Huang, @awgu, @kwen2501

[FSDP()] Have `fully_shard()` abide by `contract`!
  test/distributed/_composable/test_fully_shard.py
  torch/distributed/_composable/fully_shard.py
  torch/distributed/fsdp/_common_utils.py
Owners: @mrshenli, @pritamdamania87, @zhaojuanmao, @rohan-varma, @H-Huang, @awgu, @kwen2501, @yhcharles

[nn] add remove_duplicate flag to named_parameters (#88090)
  test/test_nn.py
  torch/distributed/nn/api/remote_module.py
  torch/nn/modules/module.py
Owners: @mrshenli, @zhaojuanmao, @pritamdamania87, @rohan-varma, @H-Huang, @awgu, @kwen2501, @albanD, @jbschlosser

Add a cpp wrapper for Inductor
  torch/_inductor/codegen/common.py
  torch/_inductor/codegen/cpp.py
  torch/_inductor/codegen/wrapper.py
  torch/_inductor/config.py
  torch/_inductor/graph.py
  torch/_inductor/sizevars.py
Owners: none

use permute instread of clone
  aten/src/ATen/native/Convolution.cpp
  test/test_nn.py
Owners: none

add comments
  aten/src/ATen/native/Convolution.cpp
Owners: none
